@import url("./root.css");

/* ======================================================== MARGIN ========================================================== */

.mt-two {
  margin-top: 2px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-14 {
  margin-top: 14px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-60 {
  margin-top: 60px;
}

/* ======================================================== PADDING ========================================================== */

.pt-100 {
  padding-top: 100px;
}

.pt-150 {
  padding-top: 150px;
}

/* ======================================================== FLEX_CLASSES ======================================================= */

.gap-10 {
  gap: 10px;
}

.gap-12 {
  gap: 12px;
}

.gap-14 {
  gap: 14px;
}

.gap-32 {
  gap: 32px;
}

.gap-28 {
  gap: 28px;
}

.gap-60 {
  gap: 60px;
}

/* ======================================================== COMMON THINGS ====================================================== */

::-webkit-scrollbar {
  display: none;
}

.common-btn {
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: var(--color-24);
  font-family: var(--ff-manr);
  font-size: var(--fs-md);
  font-weight: var(--fw-700);
  line-height: var(--lh-150);
  text-align: center;
  color: var(--color-01);
  height: 48px;
  overflow: hidden;
  transition-duration: 0.5s;
}

.max-w-900 {
  max-width: 900px;
}

/* ======================================================== HEADER ========================================================== */

.header {
  background-image: url("../images/png/header-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  left: 0;
  top: 0;
  padding: 26px 0px;
  z-index: 2;
  background: #f1f1f105;
  border-bottom: 1px solid #f1f1f129;
  backdrop-filter: blur(12px);
}

.navbar {
  padding: 0;
}

.header-p {
  max-width: 709px;
}

.sclair-btn {
  width: 157px;
}

.sclair-btn button {
  border: none;
  outline: none;
  background-color: transparent;
}

.header-position {
  max-width: 810px;
}

/* ======================================================== SOLD SECTION ==================================================== */

.sold-section {
  max-width: 818px;
  padding: 40px;
  border-radius: 20px;
  background-image: url("../images/png/sold-section-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  backdrop-filter: blur(10px);
  background-color: #ffffff05;
}

.sold-section::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(
    123.75deg,
    rgba(255, 255, 255, 0.2) 11.04%,
    rgba(255, 255, 255, 0.02) 87.64%
  );
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.ammount-card {
  max-width: 254px;
}

.clair-box {
  padding-right: 28px;
}

.clair-box::after {
  content: "";
  position: absolute;
  inset: 0;
  padding-right: 2px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 246, 36, 0.0222222) 0%,
    #fff624 55%,
    rgba(255, 246, 36, 0) 100%
  );
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.common-svg-ammount {
  gap: 0px;
  border-radius: 5px;
  background: #313131;
  width: 53px;
  height: 53px;
}

.buy-btn {
  max-width: 274px;
}

.token-card {
  max-width: 404px;
}

/*Range style*/
#range-slider__range {
  appearance: none;
  outline: none;
  padding: 0;
  max-width: 404px;
  width: 100%;
  height: 22px;
  border-radius: 125px;
  background: white;
}

/*Range black ⚫ thumb*/
#range-slider__range::-webkit-slider-thumb {
  appearance: none;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background-image: url("../images/svg/slider-thumb.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}

/*Range current value*/
#range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}

#range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: "";
}

.token-box {
  max-width: 364px;
}

.token-txt1::after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: -15px;
  background-image: url(../images/png/token-txt1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 38px;
  height: 26px;
}

.token-txt2::after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: -15px;
  background-image: url(../images/png/token-txt2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 38px;
  height: 26px;
}

.timer-txt {
  max-width: 80px;
}

.time-box {
  padding: 2px 10px;
  background-color: #fff62433;
  border-radius: 4px;
  max-width: fit-content;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #87855b;
}

/* ======================================================== ABOUT ========================================================== */

.about-section {
  max-width: 856px;
  min-height: 330px;
}

.about-p {
  max-width: 776px;
}

.learn-btn {
  max-width: 135px;
}

.dino-img {
  right: 0;
  top: 0;
  height: 100%;
}

/* ======================================================== ADDRESS ========================================================== */

.section3 {
  background-image: url("../images/png/adress-img.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding-top: 152px;
  padding-bottom: 152px;
  margin-top: 54px;
}

.adress-section {
  max-width: 856px;
}

.copy-btn-box {
  border: 1px solid #ffffff3d;
  background: #ffffff14;
  border-radius: 10px;
  max-width: 587px;
}

.copy-btn {
  max-width: 89px;
}

.copy-btn {
  overflow: hidden;
  transition-duration: 700ms;
}

.copy-btn span:first-child {
  position: absolute;
  transform: translate(-50%, -50%);
}

.copy-btn span:last-child {
  position: absolute;
  opacity: 0;
  transform: translateY(100%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.copy-btn:focus {
  background-color: var(--color-24);
  transition-delay: 100ms;
  transition-duration: 500ms;
}

.copy-btn:focus span:first-child {
  transform: translateX(-50%) translateY(-150%);
  opacity: 0;
  transition-duration: 500ms;
}

.copy-btn:focus span:last-child {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition-delay: 300ms;
  transition-duration: 500ms;
}

.copy-btn:focus:end {
  transition-duration: 900ms;
}

.copy-txt {
  padding: 12px;
}

.common-btn:hover {
  background-color: var(--white-color);
}

.common-btn:hover {
  box-shadow: 0px 0px 5px rgb(184, 236, 104), 0px 0px 10px rgb(184, 236, 104),
    0px 0px 30px rgb(184, 236, 104);
  transition-duration: 0.7s;
}

.common-btn:hover .text {
  color: rgb(65, 64, 64);
}

.common-btn:hover .svgIcon path {
  fill: rgb(65, 64, 64);
}

/* ======================================================== TOKENMICS ======================================================= */
.section4 {
  background-image: url("../images/png/tokenmics.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding-top: 124px;
  padding-bottom: 98px;
}

.tokenmics-content {
  max-width: 343px;
}

.sinclair span {
  padding: 4px 16px;
  border: 1px solid #fff6243d;
  background: #ffffff0a;
  border-radius: 6px;
  margin-left: 8px;
}

.token-img {
  max-width: 491px;
}

.sinclair-card {
  padding: 32px 75px;
  background: #ffffff0f;
  border-radius: 16px;
  margin-top: 60px;
}

.sinclair-card::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: linear-gradient(
    96.24deg,
    rgba(241, 241, 241, 0.24) -31.57%,
    rgba(241, 241, 241, 0) 125.48%
  );
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.sinclair-img {
  max-width: 336px;
}

.sinclair-txt {
  max-width: 574px;
}

/* ======================================================== TOKENMICS ============================================================ */

.section5 {
  background-image: url("../images/png/audit.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding-top: 179px;
  padding-bottom: 160px;
}

.secure-img {
  max-width: 244px;
}

.audit-btn {
  max-width: 91px;
}

.secure-txt {
  max-width: 475px;
}

.border-botm {
  height: 1px;
  background-color: #fff624;
  margin-top: 83px;
}

.major-txt {
  max-width: 475px;
}

.major-slider {
  max-width: 380px;
  padding: 40px 15px;
  background-color: #ffffff14;
  border-radius: 16px;
}

.major-slider::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: linear-gradient(
    150.17deg,
    rgba(255, 246, 36, 0.4) -60.4%,
    rgba(255, 246, 36, 0) 118.96%
  );
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

/* ======================================================== TIMELINE ============================================================ */

.container_stock {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.phase-content {
  max-width: 300px;
  min-height: 328px;
  padding: 24px 92px 24px 24px;
  border-radius: 16px;
  border: 1px solid yellow;
  background: #ffffff14;
}

.mt-media-first-col {
  margin-top: 184px;
}

.mt-media-second-col {
  margin-top: 78px;
}

.bg-pos-img-stock {
  position: absolute;
  min-height: 642px;
  bottom: 0;
  left: 0;
}

.roadmap-h {
  padding-top: 63px;
  padding-bottom: 100px;
}

.list-style {
  list-style: disc !important;
}

.ul-list {
  margin-left: 16px;
}

/* ======================================================== ACCORDIAN ============================================================ */

.section7 {
  background-image: url("../images/png/accordian-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding-top: 180px;
  padding-bottom: 180px;
}

.max-w-800 {
  max-width: 800px;
}

.accordian-box {
  border-radius: 8px;
  border: 1px solid #ffffff3d;
  background-color: #ffffff14;
}

.accordian-txt-or-svg {
  padding: 12px;
}

.accordian-p {
  padding: 0 12px;
  padding-bottom: 12px;
}

.acc-svg1 {
  transform: rotate(180deg);
}

/* ======================================================== SOCIAL CARD ============================================================= */

.max-w-840 {
  max-width: 840px;
}

.social-card {
  background-image: url("../images/png/social-card.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding: 50px 40px;
}

.social-card::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: linear-gradient(
    107.74deg,
    rgba(255, 246, 36, 0.27) -16.6%,
    rgba(255, 246, 36, 0) 134.64%
  );
  -webkit-mask: linear-gradient(var(--white-color) 0 0) content-box,
    linear-gradient(var(--white-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.social_space{
  margin-top: 124px;
  margin-bottom: 154px;
}

.common-icon{
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #595959;
}

/* ======================================================== MIN-WIDTH :992 ========================================================== */

@media (min-width: 992px) {
}

/* ======================================================== MAX-WIDTH :992 ========================================================== */

@media (max-width: 991.1px) {
  #checkbox {
    display: none;
  }

  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 5;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: 0.5s;
  }

  .bars {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #9eff00;
  }

  #bar2 {
    transition-duration: 0.8s;
  }

  #bar1,
  #bar3 {
    width: 70%;
  }

  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle {
    transition-duration: 0.5s;
    transform: rotate(180deg);
  }

  .navbar-items {
    position: fixed;
    top: 0;
    left: -100%;
    height: 102vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: var(--black-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.5s;
    z-index: 1;
  }

  .show {
    left: 0;
  }
}

/* ======================================================== MIN-WIDTH :768 ========================================================== */

@media (max-width: 767.1px) {
}

/* ======================================================== MIN-WIDTH :576 ========================================================== */

@media (max-width: 575.11px) {
}
